Django
python-dotenv

# Authentication & Security
pyjwt
cryptography

# API & Web
requests
djangorestframework

# Logging & Monitoring
logging
sentry-sdk

# Data Handling & Analysis
pandas
numpy

# Deployment & Containerization
gunicorn
whitenoise

# Dev & Testing
django-debug-toolbar
pytest-django
